<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!--<test thread-count="5" name="CR27 Rate URL Testing">
		<classes>
			<class name="CR27RATESMOKE.CR27RateURL" />
		</classes>
	</test> -->

	<test thread-count="5" name="CR27 Ship URL Testing">
		<classes>
			<class name="CR27SMOKE.CR27ShipURL" />
		</classes>
	</test>

	<!-- Test -->
</suite> <!-- Suite -->